engine-strict=true
registry=http://10.230.43.182:8081/repository/npm-group/

email=npm@npm.com
always-auth=true
//10.230.43.182:8081/repository/npm-group/:_auth="ZmVybmFuZG8ubW9yZWlyYTpCaWEuMzMxNjU0ODU="