.header-content {
  background-color: var(--color-neutral-lightest);
  padding: 16px 60px 16px 32px;
  width: 100%;
  min-height: 90px;
  justify-content: space-between;
  align-items: center;
  .mdn-Breadcrumb-icon {
    margin: 0 6px;
  }
}